@layer reset, base, components, modules, utilities, native, platform;

:root {
	--safe-inset-top: env(safe-area-inset-top, 0px);
	--safe-inset-right: env(safe-area-inset-right, 0px);
	--safe-inset-bottom: env(safe-area-inset-bottom, 0px);
	--safe-inset-left: env(safe-area-inset-left, 0px);

	--inline-space: 1ch;
	--inline-space-half: calc(var(--inline-space) / 2);
	--inline-space-double: calc(var(--inline-space) * 2);
	--block-space: 1rem;
	--block-space-half: calc(var(--block-space) / 2);
	--block-space-double: calc(var(--block-space) * 2);

	--main-padding: clamp(var(--inline-space), 4vw, calc(var(--inline-space) * 4));

	--font-mono: ui-monospace, monospace;

	--l: 90%;
	--c: 0.10;
	--h: 120;
	--color-light: oklch(var(--l) var(--c) var(--h));
	--color-dark: oklch(from var(--color-light) calc(var(--l) - 65%) c h);

	--color-bg: light-dark(var(--color-light), var(--color-dark));
	--color-fg: light-dark(var(--color-dark), var(--color-light));
	
	--color-border-solid: var(--color-fg);
	--color-border: oklch(from (var(--color-border-solid) / 0.5));

	--focus-ring-color: var(--color-fg);
	--focus-ring-offset: 1px;
	--focus-ring-size: 2px;
	--focus-ring: var(--focus-ring-size) solid var(--focus-ring-color);
}
