@layer reset, base, components, modules, utilities, native, platform;

:root {
	/* Insets - The mobile apps may inject their own custom insets based on native elements on screen, like a floating navigation */
	--custom-safe-inset-top: var(--injected-safe-inset-top, env(safe-area-inset-top, 0px));
	--custom-safe-inset-right: var(--injected-safe-inset-right, env(safe-area-inset-right, 0px));
	--custom-safe-inset-bottom: var(--injected-safe-inset-bottom, env(safe-area-inset-bottom, 0px));
	--custom-safe-inset-left: var(--injected-safe-inset-left, env(safe-area-inset-left, 0px));

	/* Spacing */
	--inline-space: 1ch;
	--inline-space-half: calc(var(--inline-space) / 2);
	--inline-space-double: calc(var(--inline-space) * 2);
	--block-space: 1rem;
	--block-space-half: calc(var(--block-space) / 2);
	--block-space-double: calc(var(--block-space) * 2);

	/* Text */
	--font-sans:
		-apple-system, BlinkMacSystemFont, 'Segoe UI Variable Fizzy', 'Segoe UI', 'Noto Sans',
		Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
	--font-serif: ui-serif, serif;
	--font-mono: ui-monospace, monospace;

	--text-xx-small: 0.55rem;
	--text-x-small: 0.75rem;
	--text-small: 0.85rem;
	--text-normal: 1rem;
	--text-medium: 1.1rem;
	--text-large: 1.5rem;
	--text-x-large: 1.8rem;
	--text-xx-large: 2.5rem;

	@media (max-width: 639px) {
		--text-xx-small: 0.65rem;
		--text-x-small: 0.85rem;
		--text-small: 0.95rem;
		--text-normal: 1.1rem;
		--text-medium: 1.2rem;
		--text-large: 1.5rem;
		--text-x-large: 1.8rem;
		--text-xx-large: 2.5rem;
	}

	/* Focus rings for keyboard navigation */
	--focus-ring-color: var(--color-fg);
	--focus-ring-offset: 1px;
	--focus-ring-size: 2px;
	--focus-ring: var(--focus-ring-size) solid var(--focus-ring-color);

	
	--color-light: oklch(88% 0.08 117);
	--color-dark: oklch(22% 0.08 117);


	--color-bg: var(--color-light);
	--color-fg: var(--color-dark);

	@media (prefers-color-scheme: dark) {
		--color-bg:var(--color-dark);
		--color-fg: var(--color-light);
	}
}
