@layer base {
    .balance--section {
        h2 {
            font-size: var(--text-xl);
            margin-inline: auto;
            max-width: fit-content;
            font-feature-settings: 'tnum' 1, 'zero' 1;
        }
    }
}