@layer base {
	.balance--section {
		padding-block-start: var(--block-space-half);
		text-align: center;

		p {
			color: var(--color-fg-subtle);
			display: grid;
			font-size: var(--text-small);
			font-weight: var(--font-weight-normal);
			overflow: hidden;

			span {
				grid-area: 1/1;
			}
		}

		div {
			font-size: var(--text-xl);
			font-weight: var(--font-weight-bold);
			line-height: 1;
			margin-inline: auto;
			max-width: fit-content;
			position: relative;
			font-feature-settings:
				'tnum' 1,
				'zero' 1;

			button {
				cursor: copy;
				inset: 0;
				position: absolute;
			}
		}
	}
}
