@layer base {
	html {
		font-size: 125%;
	}

	body {
		accent-color: var(--color-fg);
		background: var(--color-bg);
		color: var(--color-fg);
		font-family: var(--font);
		font-optical-sizing: auto;
		font-weight: var(--font-weight-normal);
		text-rendering: optimizeLegibility;
		-moz-osx-font-smoothing: grayscale;
		-webkit-font-smoothing: antialiased;
		-webkit-text-size-adjust: none;
	}

	a {
		color: var(--color-fg);
		text-decoration: none;
	}

	:is(img, svg) {
		user-select: none;
	}

	:is(a, button, input, textarea, .switch, .btn) {
		transition: 100ms ease-out;
		transition-property: background-color, border-color, box-shadow, outline;
		touch-action: manipulation;

		/* Keyboard navigation */
		&:where(:focus-visible) {
			border-radius: 0.25ch;
			outline: var(--focus-ring-size) solid var(--focus-ring-color);
			outline-offset: var(--focus-ring-offset);
		}

		/* Default disabled styles */
		&:where([disabled]) {
			cursor: not-allowed;
			opacity: 0.5;
			pointer-events: none;
		}
	}
}
