@layer components {
	.btn {
		background-color: var(--btn-color);
		border: 1px solid transparent;
		color: var(--btn-text-color);
		corner-shape: squircle;
		cursor: pointer;
		display: grid;
		font-size: var(--btn-text);
		letter-spacing: var(--uppercase-spacing);
		padding: 0.6em 1.2em;
		pointer-events: auto;
		border-radius: 0.5em;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		transition: 100ms ease-out;
		transition-property: background-color, border, color, opacity, scale;

		@media (any-hover: hover) {
			&:hover {
				background-color: var(--btn-hover-color);
			}
		}
	}

	.btn--circle {
		--btn-size: 1.1em;
		aspect-ratio: 1;
		background-color: var(--btn-secondary-color);
		block-size: var(--btn-size);
		border-radius: 100%;
		color: var(--btn-secondary-text-color);
		cursor: pointer;
		display: grid;
		font-size: 200%;
		font-weight: var(--font-weight-light);
		inline-size: var(--btn-size);
		place-content: center;
		pointer-events: auto;
		text-decoration: none;
		text-transform: uppercase;
		transition: 100ms ease-out;
		transition-property: background-color, border, color, opacity, scale;

		@media (any-hover: hover) {
			&:hover {
				background-color: var(--btn-secondary-hover-color);
			}
		}
	}
}
