@layer components {
	header[class*='header-'] {
		padding-block: calc(var(--block-space) + var(--safe-inset-top)) var(--block-space-double);
		z-index: 10;

		> [aria-hidden='true'] {
			opacity: 0;
			pointer-events: none;
			transition:
				opacity 200ms ease,
				transform 200ms ease;
			transform: translateY(-0.5ch);
		}

		> .visible[aria-hidden='true'] {
			opacity: 1;
			pointer-events: auto;
			transform: translateY(0);
		}
	}

	header[class*='header-sticky--'] {
		align-items: center;
		background: linear-gradient(180deg, var(--color-bg) 0%, var(--color-bg) 50%, transparent 100%);
		display: flex;
		gap: var(--inline-space);
		margin-block-end: calc(var(--block-space) * -1);
		position: sticky;
		top: 0;

		&:has(:nth-child(3)) {
			justify-content: space-between;

			h1,
			span {
				padding: 0;
			}
		}

		h1, span {
			flex: 1;
			font-size: var(--text-base);
			font-weight: var(--font-weight-normal);
			text-align: center;
			white-space: nowrap;
			overflow: hidden;
			padding-inline-end: calc(var(--btn-circle-size) + var(--inline-space));
			text-overflow: ellipsis;
		}
	}

	.header--home {
		display: grid;
		place-content: center;

		svg {
			height: var(--btn-circle-size);
		}
	}
}
