@layer base {
	form {
		display: grid;
		gap: var(--block-space);

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			font-size: var(--text-lg);
			margin-block-start: var(--block-space);
		}

		.btn {
			margin-block-start: var(--block-space-half);
		}
	}

	fieldset {
		border: none;
		display: grid;
		gap: calc(var(--block-space-half) / 2);
		padding: 0;
		margin: 0;
	}

	legend {
		display: contents;
		font-size: var(--text-small);
		font-weight: var(--font-weight-medium);
		padding: 0;
	}

	label:not(:has(input[type='checkbox'], input[type='radio'])) {
		display: grid;
		font-size: var(--text-small);
		font-weight: var(--font-weight-medium);
		gap: calc(var(--block-space-half) / 2);
	}

	label:has(input[type='radio'], input[type='checkbox']) {
		align-items: center;
		background-color: var(--input-color);
		border: 2px solid transparent;
		border-radius: var(--border-radius);
		corner-shape: squircle;
		cursor: pointer;
		display: flex;
		gap: var(--inline-space-half);
		line-height: 1.1em;
		min-height: 2.4em;
		min-width: 0;
		padding-inline: var(--inline-space);
		padding-block: 0.25em;
		pointer-events: auto;
		user-select: none;

		&:focus {
			border-color: var(--color-border);
			color: var(--color-hover);
			outline: 0;
		}

		@media (any-hover: hover) {
			&:hover {
				background-color: var(--input-hover-color);
				color: var(--color-hover);
			}
		}
	}

	label:has(input[type='radio']:focus-visible, input[type='checkbox']:focus-visible) {
		outline: var(--focus-ring-size) solid var(--focus-ring-color);
		outline-offset: var(--focus-ring-offset);
	}

	label:has(input[type='radio']:checked, input[type='checkbox']:checked) {
		border-color: var(--color-border);
	}

	input,
	select,
	textarea {
		font-size: var(--text-base);
		font-weight: var(--font-weight-normal);
	}

	input:not(
		[type='checkbox'],
		[type='radio'],
		[type='range'],
		[type='reset'],
		[type='image'],
		[type='hidden']
	),
	select,
	textarea {
		background-color: var(--input-color);
		border: 2px solid transparent;
		border-radius: var(--border-radius);
		corner-shape: squircle;
		cursor: text;
		line-height: 1.1em;
		min-height: 2.4em;
		min-width: 0;
		padding-inline: var(--inline-space);
		pointer-events: auto;

		&:focus {
			border-color: var(--color-border);
			color: var(--color-hover);
			outline: 0;
		}

		@media (any-hover: hover) {
			&:hover {
				background-color: var(--input-hover-color);
				color: var(--color-hover);
			}
		}
	}

	input[type='checkbox'],
	input[type='radio'] {
		--icon-size: 1rem;

		appearance: none;
		-moz-appearance: none;
		-webkit-appearance: none;
		border: 2px solid var(--color-border-input-icon);
		cursor: pointer;
		flex-shrink: 0;
		height: var(--icon-size);
		position: relative;
		width: var(--icon-size);

		&:focus-visible {
			outline: 0;
		}

		&:checked {
			border-color: var(--color-border);

			&::after {
				content: '';
				position: absolute;
				background-color: var(--color-fg);
				border: 3px solid var(--input-color);
				inset: 0;
			}
		}
	}

	input[type='checkbox'] {
		--icon-size: 0.95rem;
		border-radius: 0.25em;
		corner-shape: squircle;

		&:checked::after {
			border-radius: 0.2em;
		}
	}

	input[type='radio'] {
		--icon-size: 0.85rem;
		border-radius: 100%;
		margin: calc((1rem - var(--icon-size)) / 2);

		&:checked::after {
			border-radius: 100%;
		}
	}

	input[type='submit']:focus-visible {
		outline: var(--focus-ring-size) solid var(--focus-ring-color);
		outline-offset: var(--focus-ring-offset);
	}

	select-wrapper {
		display: grid;
		position: relative;

		svg {
			position: absolute;
			right: calc(var(--inline-space) + 2px);
			place-self: center;
		}
	}

	select {
		appearance: none;
		-webkit-appearance: none;
		-moz-appearance: none;
		cursor: pointer;
		padding-inline-end: calc(var(--inline-space) * 3);
	}

	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	input[type='number'] {
		appearance: textfield;
		-moz-appearance: textfield;
	}
}
