@layer base {
	form {
		display: grid;
		gap: var(--block-space);

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			font-size: var(--text-lg);
			margin-block-start: var(--block-space);
		}

		.btn {
			margin-block-start: var(--block-space-half);
		}
	}

	label:not(:has(input[type='checkbox'], input[type='radio'])) {
		display: grid;
		gap: 0.25em;
	}

	input:not(
		[type='checkbox'],
		[type='radio'],
		[type='range'],
		[type='reset'],
		[type='image'],
		[type='hidden']
	),
	select,
	textarea {
		background-color: var(--input-color);
		border: 2px solid transparent;
		border-radius: 0.5em;
		line-height: 1.1em;
		min-height: 2.4em;
		padding-inline: 1em;
		pointer-events: auto;

		&:focus {
			border-color: var(--color-border);
			outline: 0;
		}

		@media (any-hover: hover) {
			&:hover {
				background-color: var(--input-hover-color);
				color: var(--color-hover);
			}
		}
	}

	input[type='checkbox'],
	input[type='radio'] {
		font-size: var(--text-xl);
	}

	select {
		appearance: none;
		-webkit-appearance: none;
		-moz-appearance: none;
		background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="oklch(42.6% 0.162 26.9)" viewBox="0 0 256 256"><path d="M184.49,167.51a12,12,0,0,1,0,17l-48,48a12,12,0,0,1-17,0l-48-48a12,12,0,0,1,17-17L128,207l39.51-39.52A12,12,0,0,1,184.49,167.51Zm-96-79L128,49l39.51,39.52a12,12,0,0,0,17-17l-48-48a12,12,0,0,0-17,0l-48,48a12,12,0,0,0,17,17Z"></path></svg>');
		background-position: right 0.45em center;
		background-repeat: no-repeat;
		padding-inline-end: 2em;

		@media (prefers-color-scheme: dark) {
			background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="oklch(94.9% 0.011 89.7)" viewBox="0 0 256 256"><path d="M184.49,167.51a12,12,0,0,1,0,17l-48,48a12,12,0,0,1-17,0l-48-48a12,12,0,0,1,17-17L128,207l39.51-39.52A12,12,0,0,1,184.49,167.51Zm-96-79L128,49l39.51,39.52a12,12,0,0,0,17-17l-48-48a12,12,0,0,0-17,0l-48,48a12,12,0,0,0,17,17Z"></path></svg>');
		}
	}

	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	input[type='number'] {
		appearance: textfield;
		-moz-appearance: textfield;
	}
}
