@layer base {
	form {
		display: grid;
		gap: var(--block-space);

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			font-size: var(--text-lg);
			margin-block-start: var(--block-space);
		}

		.btn {
			margin-block-start: var(--block-space-half);
		}
	}

	fieldset {
		border: none;
		display: grid;
		gap: 0.5em;
		padding: 0;
		padding: 0;
		margin: 0;
	}

	legend {
		display: contents;
		font-size: var(--text-small);
		font-weight: var(--font-weight-medium);
		padding: 0;
	}

	label:not(:has(input[type='checkbox'], input[type='radio'])) {
		display: grid;
		font-size: var(--text-small);
		font-weight: var(--font-weight-medium);
		gap: var(--inline-space-half);
	}

	label:has(input[type='checkbox']) {
		cursor: pointer;
		display: flex;
		gap: var(--inline-space);
	}

	label:has(input[type='radio']) {
		background-color: var(--input-color);
		border: 2px solid transparent;
		border-radius: 0.5em;
		cursor: pointer;
		display: flex;
		gap: var(--inline-space-half);
		line-height: 1.1em;
		min-height: 2.4em;
		min-width: 0;
		padding-inline: var(--inline-space);
		padding-block: 0.25em;
		align-items: center;
		pointer-events: auto;

		&:focus {
			border-color: var(--color-border);
			color: var(--color-hover);
			outline: 0;
		}

		@media (any-hover: hover) {
			&:hover {
				background-color: var(--input-hover-color);
				color: var(--color-hover);
			}
		}
	}

	label:has(input[type='radio']:focus-visible) {
		outline: var(--focus-ring-size) solid var(--focus-ring-color);
		outline-offset: var(--focus-ring-offset);
	}

	label:has(input[type='radio']:checked) {
		border-color: var(--color-border);
	}

	input,
	select,
	textarea {
		font-size: var(--text-base);
		font-weight: var(--font-weight-normal);
	}

	input:not(
		[type='checkbox'],
		[type='radio'],
		[type='range'],
		[type='reset'],
		[type='image'],
		[type='hidden']
	),
	select,
	textarea {
		background-color: var(--input-color);
		border: 2px solid transparent;
		border-radius: 0.5em;
		cursor: text;
		line-height: 1.1em;
		min-height: 2.4em;
		min-width: 0;
		padding-inline: var(--inline-space);
		pointer-events: auto;

		&:focus {
			border-color: var(--color-border);
			color: var(--color-hover);
			outline: 0;
		}

		@media (any-hover: hover) {
			&:hover {
				background-color: var(--input-hover-color);
				color: var(--color-hover);
			}
		}
	}

	input[type='checkbox'],
	input[type='radio'] {
		cursor: pointer;
	}

	input[type='radio'] {
		--icon-size: 0.9rem;

		appearance: none;
		-moz-appearance: none;
		-webkit-appearance: none;
		border: 2px solid var(--color-border-input-icon);
		border-radius: 100%;
		height: var(--icon-size);
		width: var(--icon-size);

		&:checked {
			position: relative;
			border-color: var(--color-border);

			&:after {
				content: '';
				background-color: var(--color-fg);
				border-radius: 100%;
				position: absolute;
				width: calc(var(--icon-size) / 2);
				height: calc(var(--icon-size) / 2);
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}
	}

	input[type='submit']:focus-visible {
		outline: var(--focus-ring-size) solid var(--focus-ring-color);
		outline-offset: var(--focus-ring-offset);
	}

	select {
		appearance: none;
		-webkit-appearance: none;
		-moz-appearance: none;
		background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="oklch(42.6% 0.162 26.9)" viewBox="0 0 256 256"><path d="M184.49,167.51a12,12,0,0,1,0,17l-48,48a12,12,0,0,1-17,0l-48-48a12,12,0,0,1,17-17L128,207l39.51-39.52A12,12,0,0,1,184.49,167.51Zm-96-79L128,49l39.51,39.52a12,12,0,0,0,17-17l-48-48a12,12,0,0,0-17,0l-48,48a12,12,0,0,0,17,17Z"></path></svg>');
		background-position: right 0.45em center;
		background-repeat: no-repeat;
		cursor: pointer;
		padding-inline-end: var(--inline-space-double);

		@media (prefers-color-scheme: dark) {
			background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="oklch(94.9% 0.011 89.7)" viewBox="0 0 256 256"><path d="M184.49,167.51a12,12,0,0,1,0,17l-48,48a12,12,0,0,1-17,0l-48-48a12,12,0,0,1,17-17L128,207l39.51-39.52A12,12,0,0,1,184.49,167.51Zm-96-79L128,49l39.51,39.52a12,12,0,0,0,17-17l-48-48a12,12,0,0,0-17,0l-48,48a12,12,0,0,0,17,17Z"></path></svg>');
		}
	}

	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	input[type='number'] {
		appearance: textfield;
		-moz-appearance: textfield;
	}
}
