@layer base {
	html {
		padding-inline: calc(var(--main-padding) + var(--safe-inset-left))
			calc(var(--main-padding) + var(--safe-inset-right));
	}

	body {
		padding-block: var(--safe-inset-top) calc(var(--main-padding) + var(--safe-inset-bottom));
		inline-size: 100%;
		margin-inline: auto;
		max-inline-size: 40ch;
		min-height: 100dvh;
	}

	main {
		padding-block-end: var(--block-space-double);
	}

	.stack {
		display: grid;
		row-gap: var(--block-space-double);

		> a {
			margin-top: calc(var(--block-space-half) * -1);
		}
	}

	.stack--small {
		display: grid;
		row-gap: var(--block-space-half);
	}
}
