@layer base {
	.list--section {
		header {
			align-items: top;
			display: flex;
			gap: var(--inline-space-double);
			justify-content: space-between;
			padding-block-end: var(--block-space-half);

			h1,
			h2 {
				font-size: var(--text-lg);
			}
		}

		li > * {
			align-items: center;
			border-block-start: 1px solid var(--color-border-subtle);
			display: flex;
			justify-content: space-between;
			gap: var(--inline-space-double);
			min-height: 2.8em;
			padding-block: var(--block-space-half);
		}

		@media (any-hover: hover) {
			a:hover {
				text-decoration: underline;
				color: var(--color-hover);
			}
		}
	}
}
